doctype 5
html
  head
    title Meetometer
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/javascripts/requirejs.js', data-main='/javascripts/main')
  body
    block content
