body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.user-view {
  padding-bottom: 15px;
  list-style-type: none;
  overflow: auto;
}

.speaking {
  border: 1px solid blue;
}

.finished {
  margin-top: 50px;
}

.speech-time {
  position: absolute;
  top: 0px;
  background: blue;
}

.username {
  float: left;
}
.timeline {
  top: 15px;
  position: relative;
}
.small {
  font-size: .75em;
}
