body * {
  box-sizing: border-box;
}

body {
  padding: 50px;
  font-family: helvetica,arial,sans-serif;
  background-color: #BAD0D9;
  /*background-color: #F2EDDA;*/
  color: #1C1D26;
  background: #71aa9d url('/images/indigo-stripes.png');
}

.main {
  padding: 50px;
  background-color: #F2EDDA;
  -webkit-border-radius: 13px;
  border-radius: 13px;

/*
  background: #f2edda; /* Old browsers */
/*
  background: -moz-linear-gradient(top,  #f2edda 0%, #ffffff 91%, #ffffff 100%); /* FF3.6+ */
/*
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2edda), color-stop(91%,#ffffff), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
/*
  background: -webkit-linear-gradient(top,  #f2edda 0%,#ffffff 91%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
/*
  background: -o-linear-gradient(top,  #f2edda 0%,#ffffff 91%,#ffffff 100%); /* Opera 11.10+ */
/*
  background: -ms-linear-gradient(top,  #f2edda 0%,#ffffff 91%,#ffffff 100%); /* IE10+ */
/*
  background: linear-gradient(to bottom,  #f2edda 0%,#ffffff 91%,#ffffff 100%); /* W3C */
/*
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2edda', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

  -webkit-box-shadow: inset 0px 0px 2px 0px #2e2c52;
  box-shadow: inset 0px 0px 2px 0px #2e2c52;
}

.head {
  font-size: 1em;
  margin: -10px 0px 20px 0px;
}

.subhead {
}

a {
  color: #00B7FF;
}

#user-name-input {
  font-size: 1.1em;
}

.btn {
  color: #1F5AA6;
  text-decoration: none;
  margin: 12px 0 12px 0px;
}

ul {
  padding-left: 0;
  margin-top: 0;
}

#the-list {
  overflow-x: hidden;
  overflow-y: hidden;
}

#the-time {
  margin-top: 20px;
}

li {
  list-style-type: none;
}

.user-view {
  padding-bottom: 0.6em;
  overflow-y: hidden;
  overflow-x: hidden;
  margin-bottom: 4px;
}

.speaking {
  border: 1px solid #3F6D91;
}

.finished {
  margin-top: 50px;
}

.speech-time {
  padding: 0; margin: 0; border: 0;
  position: absolute;
  top: 0px;
  /*background: #BE7562;*/
  background: #bad0d9;
  height: .5em;


  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-transition: all .5s linear;
     -moz-transition: all .5s linear;
       -o-transition: all .5s linear;
          transition: all .5s linear;
}

.username {
  float: left;
  padding: .2em;
}
.timeline {
  top: 1.5em;
  position: relative;
}
.legend {
  position: relative;
  font-size: 0.6em;
  border-bottom: 1px solid #ccc;
}
.legend-lines {
  display: none;
  position: absolute;
  border-left: 1px solid #ccc;
  color: #666;
  top: 0;
  padding-left: 3px;
  -webkit-transition: all .5s linear;
     -moz-transition: all .5s linear;
       -o-transition: all .5s linear;
          transition: all .5s linear;
}
.small {
  font-size: .75em;
}
