body * {
  box-sizing: border-box;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}

.user-view {
  padding-bottom: 15px;
  overflow-y: auto;
  overflow-x: hidden;
}

.speaking {
  border: 1px solid blue;
}

.finished {
  margin-top: 50px;
}

.speech-time {
  padding: 0; margin: 0; border: 0;
  position: absolute;
  top: 0px;
  background: blue;

  -webkit-transition: all .5s linear;
     -moz-transition: all .5s linear;
       -o-transition: all .5s linear;
          transition: all .5s linear;
}

.username {
  float: left;
}
.timeline {
  top: 15px;
  position: relative;
}
.legend {
  position: relative;
}
.legend-lines {
  display: none;
  position: absolute;
  border-left: 1px solid #ccc;
  color: #666;
  top: 0;
  height: 100px;
  -webkit-transition: all .5s linear;
     -moz-transition: all .5s linear;
       -o-transition: all .5s linear;
          transition: all .5s linear;
}
.small {
  font-size: .75em;
}
